
button {
  position: relative;
  outline: none;
  text-decoration: none;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 15rem;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}


#canvas{
  height: 480px;
  width: 640;
}
.img{
  display: flex;
}

p{
  padding-left: 2rem;
}
.h{
  text-decoration-style: wavy;
}

hh{

}
body{
  background-color: antiquewhite;

}

#video{
  width: 540px;
  height: 360px ;

}
#canvas{
  width: 540px;
  height: 360px ;
}